/* General styles for the confirm dialog */
.confirm-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

/* Style for the message */
.confirm-dialog {
  font-size: 16px;
  color: #333333;
  text-align: left; /* Align text to the left */
}
.dialog-head{
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(6, 0, 184);
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
}
.confirm-dialog p {
  padding: 5px ;
}

/* Style for the action buttons */
.dialog-actions {
  display: flex;
  gap: 10px;
  text-align: right; /* Align buttons to the right */
  margin-left: auto; /* Push buttons to the right */
  padding: 5px;
}

.dialog-actions button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dialog-actions button[mat-button] {
  background-color: #1976d2;
  color: #ffffff;
}

.dialog-actions button[mat-button]:hover {
  background-color: #1565c0;
}

.dialog-actions button[mat-button]:nth-child(2) {
  background-color: #e0e0e0;
  color: #333333;
}

.dialog-actions button[mat-button]:nth-child(2):hover {
  background-color: #d6d6d6;
}